@import "tailwindcss";

:root {
    /* CSS HEX */
    --hunter-green: #386641ff;
    --asparagus: #6a994eff;
    --yellow-green: #a7c957ff;
    --parchment: #f2e8cfff;
    --bittersweet-shimmer: #bc4749ff;
}

body {
    background-color: #f7fee7;
}